/* line 17, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../../sass/common/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 12, ../../sass/common/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 45, ../../sass/common/_mixins.scss */
.fl {
  float: left;
}

/* line 49, ../../sass/common/_mixins.scss */
.fr {
  float: right;
}

/* line 53, ../../sass/common/_mixins.scss */
.bc {
  margin: 0 auto;
}

/* line 57, ../../sass/common/_mixins.scss */
.hidden {
  visibility: hidden;
}

/* line 61, ../../sass/common/_mixins.scss */
.none {
  display: none;
}

/* line 7, ../../sass/common/_scaffolding.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../../sass/common/_scaffolding.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.62;
  color: #111111;
  background-color: white;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  position: relative;
}

/* line 29, ../../sass/common/_scaffolding.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 42, ../../sass/common/_scaffolding.scss */
button,
input,
select[multiple],
textarea {
  background-image: none;
}

/* line 48, ../../sass/common/_scaffolding.scss */
a {
  color: #3377aa;
  text-decoration: none;
}
/* line 53, ../../sass/common/_scaffolding.scss */
a:hover, a:focus {
  color: white;
  background: #3377aa;
}

/* line 61, ../../sass/common/_scaffolding.scss */
#header {
  width: 100%;
  height: 60px;
  background: #edf4ed;
  position: fixed;
  z-index: 20;
  top: 0;
}
/* line 69, ../../sass/common/_scaffolding.scss */
#header #inner-header {
  margin: 0 auto;
  width: 960px;
  position: relative;
}
/* line 74, ../../sass/common/_scaffolding.scss */
#header #inner-header #logo {
  float: left;
  display: block;
  width: 144px;
  height: 33px;
  margin-top: 12px;
  background: url(/static/images/logo.png) no-repeat center;
}
/* line 83, ../../sass/common/_scaffolding.scss */
#header #inner-header #nav {
  float: left;
  margin-left: 40px;
  margin-top: 22px;
}
/* line 88, ../../sass/common/_scaffolding.scss */
#header #inner-header #nav a {
  color: #072;
  font-size: 14px;
  margin: 0 16px;
}
/* line 93, ../../sass/common/_scaffolding.scss */
#header #inner-header #nav a:hover {
  background: #072;
  color: #fff;
}
/* line 100, ../../sass/common/_scaffolding.scss */
#header #inner-header #info {
  float: right;
  margin-top: 24px;
}
/* line 104, ../../sass/common/_scaffolding.scss */
#header #inner-header #info a {
  margin-left: 8px;
}
/* line 110, ../../sass/common/_scaffolding.scss */
#header #search-wrapper {
  margin: 0 auto;
  position: relative;
  top: 70px;
  z-index: 999;
  width: 400px;
  height: 48px;
  background: rgba(208, 208, 208, 0.4);
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
  -webkit-box-shadow: 0, 1px, 4px, rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0, 1px, 4px, rgba(0, 0, 0, 0.4);
  box-shadow: 0, 1px, 4px, rgba(0, 0, 0, 0.4);
}
/* line 121, ../../sass/common/_scaffolding.scss */
#header #search-wrapper #douteng {
  position: absolute;
  top: -95px;
  left: 188px;
  height: 95px;
  width: 22px;
  z-index: 1000;
  background: url(/static/images/douteng.png) repeat-y center;
}
/* line 131, ../../sass/common/_scaffolding.scss */
#header #search-wrapper #search {
  background: #fff;
  width: 384px;
  height: 38px;
  line-height: 26px;
  position: relative;
  left: 8px;
  top: 5px;
  padding: 4px;
  border: 3px solid rgba(162, 163, 162, 0.47);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
/* line 143, ../../sass/common/_scaffolding.scss */
#header #search-wrapper #search input[type=text] {
  outline: none;
  border: none;
  width: 300px;
  height: 28px;
  font-size: 18px;
  margin-left: 20px;
  position: absolute;
  color: #787a78;
  display: inline-block;
  top: 2px;
  left: -4px;
}
/* line 157, ../../sass/common/_scaffolding.scss */
#header #search-wrapper #search input[type=submit] {
  border: none;
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  top: 6px;
  right: 10px;
  background: url("/static/images/search.png") no-repeat center;
}

/* line 171, ../../sass/common/_scaffolding.scss */
#main {
  margin: 0 auto;
  width: 960px;
  position: relative;
  margin-top: 120px;
  margin-bottom: 50px;
  min-height: 640px;
}
/* line 8, ../../sass/common/_mixins.scss */
#main:before, #main:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 12, ../../sass/common/_mixins.scss */
#main:after {
  clear: both;
}
/* line 180, ../../sass/common/_scaffolding.scss */
#main #main-left {
  float: left;
  width: 640px;
}
/* line 185, ../../sass/common/_scaffolding.scss */
#main #main-right {
  float: right;
  width: 260px;
}

/* line 191, ../../sass/common/_scaffolding.scss */
#footer {
  margin: 0 auto;
  width: 960px;
  position: relative;
  bottom: 20px;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
  height: 36px;
  line-height: 36px;
}
/* line 201, ../../sass/common/_scaffolding.scss */
#footer #footer-left {
  float: left;
}
/* line 205, ../../sass/common/_scaffolding.scss */
#footer #footer-right {
  float: right;
}
