/* line 17, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 50, icons/*.png */
.icons-sprite, .icons-search, #header #search-wrapper #search input[type=submit], .icons-upArrow {
  background: url('/static/images/icons-s2060f007c2.png') no-repeat;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search, #header #search-wrapper #search input[type=submit] {
  background-position: 0 -7px;
  height: 24px;
  width: 24px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-upArrow {
  background-position: 0 0;
  height: 7px;
  width: 11px;
}

/* line 7, ../../sass/common/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../../sass/common/_base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.62;
  color: #111111;
  background-color: white;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  position: relative;
}

/* line 29, ../../sass/common/_base.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 42, ../../sass/common/_base.scss */
button,
input,
select[multiple],
textarea {
  background-image: none;
  outline: none;
}

/* line 49, ../../sass/common/_base.scss */
a {
  color: #3377aa;
  text-decoration: none;
  cursor: pointer;
}
/* line 55, ../../sass/common/_base.scss */
a:hover, a:focus {
  color: white;
  background: #3377aa;
}

/* line 68, ../../sass/common/_base.scss */
.clearfix:before, #main:before, .clearfix:after, #main:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 72, ../../sass/common/_base.scss */
.clearfix:after, #main:after {
  clear: both;
}

/* line 77, ../../sass/common/_base.scss */
.fl, #header #inner-header #logo, #header #inner-header #nav, #main #main-left, #footer #footer-left {
  float: left;
}

/* line 81, ../../sass/common/_base.scss */
.fr, #header #inner-header #info, #main #main-right, #footer #footer-right {
  float: right;
}

/* line 85, ../../sass/common/_base.scss */
.bc, #header #inner-header, #header #search-wrapper, #main, #footer {
  margin: 0 auto;
}

/* line 89, ../../sass/common/_base.scss */
.hidden {
  visibility: hidden;
}

/* line 93, ../../sass/common/_base.scss */
.none {
  display: none;
}

/* line 4, ../../sass/common/_scaffolding.scss */
#header {
  width: 100%;
  height: 60px;
  background: #edf4ed;
  position: fixed;
  z-index: 20;
  top: 0;
}
/* line 12, ../../sass/common/_scaffolding.scss */
#header #inner-header {
  width: 960px;
  position: relative;
}
/* line 17, ../../sass/common/_scaffolding.scss */
#header #inner-header #logo {
  display: block;
  width: 144px;
  height: 33px;
  margin-top: 12px;
  background: url(/static/images/logo.png) no-repeat center;
}
/* line 26, ../../sass/common/_scaffolding.scss */
#header #inner-header #nav {
  margin-left: 40px;
  margin-top: 22px;
}
/* line 31, ../../sass/common/_scaffolding.scss */
#header #inner-header #nav a {
  color: #072;
  font-size: 14px;
  margin: 0 16px;
}
/* line 36, ../../sass/common/_scaffolding.scss */
#header #inner-header #nav a:hover {
  background: #072;
  color: #fff;
}
/* line 43, ../../sass/common/_scaffolding.scss */
#header #inner-header #info {
  margin-top: 24px;
}
/* line 47, ../../sass/common/_scaffolding.scss */
#header #inner-header #info a {
  margin-left: 8px;
}
/* line 53, ../../sass/common/_scaffolding.scss */
#header #search-wrapper {
  position: relative;
  top: 70px;
  z-index: 999;
  width: 400px;
  height: 48px;
  background: rgba(208, 208, 208, 0.4);
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
  -webkit-box-shadow: 0, 1px, 4px, rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0, 1px, 4px, rgba(0, 0, 0, 0.4);
  box-shadow: 0, 1px, 4px, rgba(0, 0, 0, 0.4);
}
/* line 64, ../../sass/common/_scaffolding.scss */
#header #search-wrapper #douteng {
  position: absolute;
  top: -95px;
  left: 188px;
  height: 95px;
  width: 22px;
  z-index: 1000;
  background: url(/static/images/douteng.png) repeat-y center;
}
/* line 74, ../../sass/common/_scaffolding.scss */
#header #search-wrapper #search {
  background: #fff;
  width: 384px;
  height: 38px;
  line-height: 26px;
  position: relative;
  left: 8px;
  top: 5px;
  padding: 4px;
  border: 3px solid rgba(162, 163, 162, 0.47);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
/* line 86, ../../sass/common/_scaffolding.scss */
#header #search-wrapper #search input[type=text] {
  outline: none;
  border: none;
  width: 300px;
  height: 28px;
  font-size: 18px;
  margin-left: 20px;
  position: absolute;
  color: #787a78;
  display: inline-block;
  top: 2px;
  left: -4px;
}
/* line 100, ../../sass/common/_scaffolding.scss */
#header #search-wrapper #search input[type=submit] {
  border: none;
  position: absolute;
  cursor: pointer;
  top: 6px;
  right: 10px;
}

/* line 112, ../../sass/common/_scaffolding.scss */
#main {
  width: 960px;
  position: relative;
  margin-top: 120px;
  margin-bottom: 50px;
  min-height: 400px;
}
/* line 121, ../../sass/common/_scaffolding.scss */
#main #main-left {
  width: 640px;
}
/* line 126, ../../sass/common/_scaffolding.scss */
#main #main-right {
  width: 260px;
  margin-top: 50px;
}

/* line 133, ../../sass/common/_scaffolding.scss */
#footer {
  width: 960px;
  position: relative;
  bottom: 20px;
  height: 36px;
  line-height: 36px;
}

/* line 150, ../../sass/common/_scaffolding.scss */
.back-to-top {
  left: 1200px;
  position: fixed;
  bottom: -20px;
  display: block;
  z-index: 9999;
}

/* line 2, ../../sass/common/_forms.scss */
form legend {
  color: #494949;
  display: block;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.1;
  margin: 36px 0;
}
/* line 11, ../../sass/common/_forms.scss */
form .field {
  margin-top: 14px;
  margin-left: 26px;
}
/* line 15, ../../sass/common/_forms.scss */
form .field label {
  font-size: 14px;
}
/* line 19, ../../sass/common/_forms.scss */
form .field input[type=text], form .field input[type=password], form .field textarea {
  margin-top: 6px;
  width: 180px;
  height: 30px;
  font-size: 14px;
  padding: 0 8px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 28, ../../sass/common/_forms.scss */
form .field input[type=text]:focus, form .field input[type=password]:focus, form .field textarea:focus {
  -webkit-box-shadow: 0 0 8px #ccdddd;
  -moz-box-shadow: 0 0 8px #ccdddd;
  box-shadow: 0 0 8px #ccdddd;
}
/* line 33, ../../sass/common/_forms.scss */
form .field textarea {
  width: 320px;
  height: 150px;
}
/* line 38, ../../sass/common/_forms.scss */
form .field button, form .field input[type=submit] {
  margin-top: 6px;
}
/* line 42, ../../sass/common/_forms.scss */
form .field ul.errorlist {
  color: #fe2617;
  margin-top: 4px;
  margin-left: 2px;
}

/* line 50, ../../sass/common/_forms.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* line 1, ../../sass/common/_buttons.scss */
.btn {
  cursor: pointer;
}
/* line 4, ../../sass/common/_buttons.scss */
.btn.comment-submit {
  height: 24px;
  width: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #e9e9e9);
  background-image: -moz-linear-gradient(top, #fcfcfc, #e9e9e9);
  background-image: -o-linear-gradient(top, #fcfcfc, #e9e9e9);
  background-image: linear-gradient(top, #fcfcfc, #e9e9e9);
  border-width: 1px;
  border-style: solid;
  border-color: #bbb #bbb #999;
}
/* line 13, ../../sass/common/_buttons.scss */
.btn.comment-submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #dddddd);
  background-image: -moz-linear-gradient(top, #f8f8f8, #dddddd);
  background-image: -o-linear-gradient(top, #f8f8f8, #dddddd);
  background-image: linear-gradient(top, #f8f8f8, #dddddd);
}
/* line 17, ../../sass/common/_buttons.scss */
.btn.comment-submit:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(top, #eeeeee, #dddddd);
}

/* line 4, ../../sass/common/_components.scss */
section {
  margin-bottom: 40px;
}
/* line 7, ../../sass/common/_components.scss */
section h1 {
  font-size: 16px;
  color: #666;
  font-weight: 700;
  font-family: "Microsoft Yahei";
}

/* line 16, ../../sass/common/_components.scss */
.comment-add {
  position: relative;
}
/* line 19, ../../sass/common/_components.scss */
.comment-add .icons-upArrow {
  position: absolute;
  top: 23px;
  left: 18px;
}

/* line 27, ../../sass/common/_components.scss */
.comments-wrapper {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 12px;
  margin-top: 12px;
}
/* line 33, ../../sass/common/_components.scss */
.comments-wrapper .comments {
  border-bottom: 1px solid #ddd;
  position: relative;
}
/* line 37, ../../sass/common/_components.scss */
.comments-wrapper .comments .comment {
  margin-bottom: 16px;
}
/* line 40, ../../sass/common/_components.scss */
.comments-wrapper .comments .comment .avatar {
  float: left;
}
/* line 44, ../../sass/common/_components.scss */
.comments-wrapper .comments .comment .comment-main {
  margin-left: 36px;
  line-height: 12px;
}
/* line 48, ../../sass/common/_components.scss */
.comments-wrapper .comments .comment .comment-main .content {
  background: #fff;
  margin: 0;
  padding: 0;
}
/* line 54, ../../sass/common/_components.scss */
.comments-wrapper .comments .comment .comment-main .addtion {
  margin: 0;
  padding: 0;
  margin-top: 8px;
}
/* line 59, ../../sass/common/_components.scss */
.comments-wrapper .comments .comment .comment-main .addtion .time {
  color: #999;
  margin-right: 12px;
}
/* line 66, ../../sass/common/_components.scss */
.comments-wrapper .comments .comment .comment-main .comment-form.small input {
  width: 394px;
  height: 24px;
}
/* line 74, ../../sass/common/_components.scss */
.comments-wrapper .comments .no-comment {
  position: relative;
  left: 46%;
  margin-bottom: 12px;
  color: #aaa;
}
/* line 82, ../../sass/common/_components.scss */
.comments-wrapper .comment-form {
  margin-top: 12px;
}
/* line 85, ../../sass/common/_components.scss */
.comments-wrapper .comment-form input {
  width: 84%;
  border: 1px solid #c9c9c9;
  padding-left: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 91, ../../sass/common/_components.scss */
.comments-wrapper .comment-form input:focus {
  -webkit-box-shadow: 0 0 7px #dddddd;
  -moz-box-shadow: 0 0 7px #dddddd;
  box-shadow: 0 0 7px #dddddd;
}
/* line 96, ../../sass/common/_components.scss */
.comments-wrapper .comment-form button {
  margin-left: 20px;
}

/* line 104, ../../sass/common/_components.scss */
.avatar {
  display: inline-block;
  width: 48px;
  height: 48px;
}
/* line 109, ../../sass/common/_components.scss */
.avatar.small {
  width: 26px;
  height: 26px;
}
/* line 114, ../../sass/common/_components.scss */
.avatar.big {
  width: 72px;
  height: 72px;
}
/* line 119, ../../sass/common/_components.scss */
.avatar img {
  width: 100%;
  height: 100%;
}
