{% extends "base.html" %}  

{% block title %} 豆藤 {% endblock %} 

{% block main-left %}  
<div class="container">
    <h1>最新动态</h1>
    <ul class="questions">
        <li class="question">
            <a href="" class="avatar"><img src=""></a>
            <div class="question-main">
                <div class="source">
                    <a class="user">Melody</a><span>赞同该问题</span>
                </div>
                <div class="content">
                    <h2><a href="">除了恐惧和欲望，还有什么可以激励自己长期地努力？</a></h2>
                    <p class="answerer"><a href="">阿北</a>，豆瓣创始人</p>
                    <p class="answer none">
                        谢邀。什么在驱动着我们前进？如果说只有恐惧和欲望，那其实就是说，胡萝卜和大棒政策，对任何人都是有效合理的。嗯，驴就是这么前进的。
                        但能驱动我们前进的东西，不仅来自于低级的动物性，也来自于高贵的人性。人，毕竟还是和驴不同。
                        关于驱动我们前进的动机，心理学提供了很多视角。比如这三种就很典型：
                        第一种视角，是内在动机和外在动机的划分。外在动机论相信，驱动我们前进的，是看得见的得到和失去。加薪还是减薪，有房还是没房，位高权重还是人轻言微，娶几个老婆还是娶不到老婆，一想到这些就让人热血沸腾或者心生恐惧：为了新中国，拼了！
                        内在动机论则相信，指引我们前进的，是一种内在感觉，读书带来的安详，学习新知识带来的成长，和朋友的谈话所产生的被理解感，帮助他人所产生的意义感，都和得到或失去的恐惧和欲望没有直接关系，却实实在在驱动着我们前进。
                    </p>
                    <p class="summary">
                        谢邀。什么在驱动着我们前进？如果说只有恐惧和欲望，那其实就是说，胡萝卜和大棒政策，对任何人都是有效合理的。嗯，驴就是这么前进的。 但能驱动我们前进的东西，不仅来自于低级的动物性，也来自于高贵的人性。人，毕竟还是和驴不同。 关于驱动我们前进的动… 
                        <a href="">显示全部</a>
                    </p>
                </div>
                <div class="addtion">
                    <span class="time">2013-10-23 13:12:54</span>
                    <span class="operation"><a href="">关注问题</a><a href="">收藏问题</a><a href="">添加评论</a><a href="">7个回答</a></span>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block main-right %}   
{% endblock %}
 
