{% extends "base.html" %}  

{% block title %} 豆藤 {% endblock %} 

{% block main-left %}  
<div class="container">
    <h1>最新动态</h1>
    <ul class="items">
        {% for event in events %}
        <li class="item">
            <a href="{% url "main.views.show_people" event.user.id %}" class="avatar"><img src="/media/avatar/default.jpg"></a>
            <div class="question-main">
                <div class="source">
                    <a href="{% url "main.views.show_people" event.user.id %}" class="user">{{ event.user.username }}</a>
                    {% ifequal event.kind 0 %}
                        提出了问题
                    {% endifequal %}
                    {% ifequal event.kind 1 %}
                        回答了该问题
                    {% endifequal %}
                    {% ifequal event.kind 2 %}
                        {% ifequal event.father.kind 0 %}
                            赞同<a href="{% url "main.views.show_people" event.father.answer.answerer.id %}" class="answerer">{{ event.father.answer.answerer }}</a>的回答
                        {% endifequal %}
                        {% ifequal event.father.kind 1 %}
                            反对<a href="{% url "main.views.show_people" event.father.answer.answerer.id %}" class="answerer">{{ event.father.answer.answerer }}</a>的回答
                        {% endifequal %}
                        {% ifequal event.father.kind 2 %}
                            对<a href="{% url "main.views.show_people" event.father.answer.answerer.id %}" class="answerer">{{ event.father.answer.answerer }}</a>的回答不屑一顾
                        {% endifequal %}
                    {% endifequal %}
                    {% ifequal event.kind 4 %}
                        关注该问题
                    {% endifequal %}
                    :
                </div>
                <div class="content">
                    <h2><a href="{% url "main.views.show_question" event.question.id %}">{{ event.title }}</a></h2>
                    {% if event.content|length > 200 %}
                    <p class="answer none">
                        {{ event.content }}
                        <a class="packUp">收起</a>
                    </p>
                    <p class="summary">
                        {{ event.content|slice:"200" }}{% if value|length > 200 %}...{% endif %} 
                        <a class="showAll">显示全部</a>
                    </p>
                    {% else %}
                    <p class="answer">
                        {{ event.content }}
                    </p>
                    {% endif %}
                </div>
                <div class="addtion">
                    <span class="time">{{ event.create_time|date:"Y年m月d日 H时i分" }}</span>
                    <span class="operation">
                        {% if event.kind == 0 or event.kind == 4 %}
                            <span>{% if not event.followed %}{{ event.follower_num }}个{% endif %}</span><a class="J_operation" href="{% if event.followed %}{% url "main.views.unfollow_question" event.question.id %}{% else %}{% url "main.views.follow_question" event.question.id %}{% endif %}">{% if event.followed %}取消{% endif %}关注</a>
                            <span>{% if not event.collected %}{{ event.collector_num }}个{% endif %}</span><a class="J_operation" href="{% if event.collected %}{% url "main.views.uncollect_question" event.question.id %}{% else %}{% url "main.views.collect_question" event.question.id %}{% endif %}">{% if event.collected %}取消{% endif %}收藏</a>
                            <a href="{% url "main.views.show_question" event.question.id %}">{{ event.answer_num }}个回答</a>
                            <a class="J_comment_add">{% if event.comment_num %}{{ event.comment_num }}条{% else %}添加{% endif %}评论</a>
                        {% endif %}
                        {% if event.kind == 1 or event.kind == 2 %}
                            <span>{% if not event.gooded %}{{ event.good_num }}个{% endif %}</span><a class="J_operation" href="{% if event.gooded %}{% url "main.views.del_eva" event.answer.id event.gooded %}{% else %}{% url "main.views.new_eva" event.answer.id 0 %}{% endif %}">{% if event.gooded %}取消{% endif %}赞同</a>
                            <span>{% if not event.baded %}{{ event.bad_num }}个{% endif %}</span><a class="J_operation" href="{% if event.baded %}{% url "main.views.del_eva" event.answer.id event.baded %}{% else %}{% url "main.views.new_eva" event.answer.id 1 %}{% endif %}">{% if event.baded %}取消{% endif %}反对</a>
                            <span>{% if not event.sowhated %}{{ event.sowhat_num }}个{% endif %}</span><a class="J_operation" href="{% if event.sowhated %}{% url "main.views.del_eva" event.answer.id event.sowhated %}{% else %}{% url "main.views.new_eva" event.answer.id 2 %}{% endif %}">{% if event.sowhated %}取消{% endif %}不屑一顾</a>
                            <a class="J_comment_add">{% if event.comment_num %}{{ event.comment_num }}条{% else %}添加{% endif %}评论</a>
                        {% endif %}
                    </span>
                </div>
                <div class="comments-wrapper none">
                    <ul class="comments">
                        <!-- <script class="comments-template" type="text/x-handlebars-template"> -->
                        {% for comment in event.comments %}
                        <li class="comment">
                            <a href="{% url "main.views.show_people" comment.user.id %}" class="avatar small"><img src="/media/avatar/default.jpg"></a>
                            <div class="comment-main">
                                <div class="content">
                                    {% if comment.target %}
                                    <a href="{% url "main.views.show_people" comment.target.id %}">@{{ comment.target.username }}</a>
                                    {% endif %}
                                    {{ comment.content }}
                                    &nbsp-&nbsp<a href="{% url "main.views.show_people" comment.user.id %}" class="user">{{ comment.user.username }}</a>{% ifequal comment.user.id event.user.id %}（作者）{% endifequal %}
                                </div>
                                <div class="addtion">
                                    <span class="time">{{ comment.create_time|date:"Y年m月d日 H时i分" }}</span>
                                    {% ifequal comment.user.id request.user.id %}
                                    <a href="{% url "main.views.del_comment" comment.id %}" class="J_comment_del">删除</a>
                                    {% else %}
                                    <a class="J_comment_add">回复</a>
                                    {% endifequal %}      
                                </div>
                                <form class="comment-form small J_comment_new none" method="POST" action="{% url "main.views.new_comment" %}">
                                    {% csrf_token %}
                                    <input name="father_id" type="hidden" value="{{ event.father.id }}">
                                    <input name="father_type" type="hidden" value="{{ event.father.type }}">
                                    <input name="target_id" type="hidden" value="{{ comment.user.id }}" >
                                    <input name="content" type="text" placeholder="@{{ comment.user.username }}">
                                    <button type="submit" class="btn comment-submit">提交</button>
                                </form>
                            </div> 
                        </li>
                        {% empty %}
                        <p class="no-comment">暂无评论</p>
                        {% endfor %}
                        <!-- </script> -->
                    </ul>
                    <form class="comment-form J_comment_new" method="POST" action="{% url "main.views.new_comment" %}">
                        {% csrf_token %}
                        <input name="father_id" type="hidden" value="{{ event.father.id }}">
                        <input name="father_type" type="hidden" value="{{ event.father.type }}">
                        <input name="target_id" type="hidden" value="" >
                        <input name="content" type="text" placeholder="写下你的评论...">
                        <button type="submit" class="btn comment-submit">提交</button>
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- js template -->
{% verbatim %}

<script class="comment-template" type="text/x-handlebars-template">
    <li class="comment">
        <a href="/people/{{ comment.user }}/" class="avatar small"><img src="/media/avatar/default.jpg"></a>
        <div class="comment-main">
            <div class="content">
                {{#if comment.target }}
                <a href="/people/{{ comment.target }}/">@{{ target_username }}</a>
                {{/if}}
                {{ comment.content }}
                &nbsp-&nbsp<a href="/people/{{ comment.user }}/" class="user">{{ username }}</a>{{#if_eq comment.user compare=user_id }}（作者）{{/if_eq}}
            </div>
            <div class="addtion">
                <span class="time">{{ create_time }}</span>
                <a href="/comment/{{ comment_id }}/del/" class="J_comment_del">删除</a>
            </div>
        </div> 
    </li>
</script>

{% endverbatim %}

{% endblock %}

{% block main-right %}   
{% endblock %}
 
