{% extends "base.html" %}  

{% block title %} 豆藤 {% endblock %} 

{% block main-left %}  
<div class="container">
    <h1>最新动态</h1>
    <ul class="items">
        {% for event in events %}
        <li class="item" data-id="{{ event.father.id }}">
            <a href="" class="avatar"><img src="/media/avatar/default.jpg"></a>
            <div class="question-main">
                <div class="source">
                    <a href="" class="user">{{ event.user.username }}</a>
                    {% ifequal event.kind 0 %}
                        提出了问题
                    {% endifequal %}
                    {% ifequal event.kind 1 %}
                        回答了该问题
                    {% endifequal %}
                    {% ifequal event.kind 2 %}
                        {% ifequal event.father.kind 0 %}
                            赞同<a href="" class="answerer">{{ event.father.answer.answerer }}</a>的回答
                        {% endifequal %}
                        {% ifequal event.father.kind 1 %}
                            反对<a href="" class="answerer">{{ event.father.answer.answerer }}</a>的回答
                        {% endifequal %}
                        {% ifequal event.father.kind 2 %}
                            对<a href="" class="answerer">{{ event.father.answer.answerer }}</a>的回答不屑一顾
                        {% endifequal %}
                    {% endifequal %}
                    {% ifequal event.kind 4 %}
                        关注该问题
                    {% endifequal %}
                    :
                </div>
                <div class="content">
                    <h2><a href="">{{ event.title }}</a></h2>
                    {% if event.content|length > 200 %}
                    <p class="answer none">
                        {{ event.content }}
                        <a class="packUp">收起</a>
                    </p>
                    <p class="summary">
                        {{ event.content|slice:"200" }}{% if value|length > 200 %}...{% endif %} 
                        <a class="showAll">显示全部</a>
                    </p>
                    {% else %}
                    <p class="answer">
                        {{ event.content }}
                    </p>
                    {% endif %}
                </div>
                <div class="addtion">
                    <span class="time">{{ event.create_time|date:"Y年m月d日 H时i分" }}</span>
                    <span class="operation">
                        {% if event.kind == 0 or event.kind == 4 %}
                            {% if not event.followed %}{{ event.follower_num }}个{% endif %}<a href="/follow/{% if event.followed %}del{% else %}new{% endif %}">{% if event.followed %}取消{% endif %}关注</a>
                            {% if not event.collected %}{{ event.collector_num }}个{% endif %}<a href="/collect/{% if event.collected %}del{% else %}new{% endif %}">{% if event.collected %}取消{% endif %}收藏</a>
                            {{ event.answer_num }}个<a href="">回答</a>
                            {{ event.comment_num }}条<a href="">评论</a>
                        {% endif %}
                        {% if event.kind == 1 or event.kind == 2 %}
                            {% if not event.gooded %}{{ event.good_num }}个{% endif %}<a data-kind="0" href="/eva/{% if event.gooded %}del{% else %}new{% endif %}">{% if event.gooded %}取消{% endif %}赞同</a>
                            {% if not event.baded %}{{ event.bad_num }}个{% endif %}<a data-kind="1" href="/eva/{% if event.baded %}del{% else %}new{% endif %}">{% if event.baded %}取消{% endif %}反对</a>
                            {% if not event.sowhated %}{{ event.sowhat_num }}个{% endif %}<a data-kind="2" href="/eva/{% if event.sowhated %}del{% else %}new{% endif %}">{% if event.sowhated %}取消{% endif %}不屑</a>
                            {{ event.comment_num }}条<a href="">评论</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block main-right %}   
{% endblock %}
 
