{% extends "base.html" %}  

{% block title %} 豆藤 {% endblock %} 

{% block main-left %}  
<section>
    <h1>{{ question.title }}（{{ question.answer_set.all|length }}个回答、悬赏{{ question.score }}分）</h1>
    <ul class="topic-list clearfix">
        {% for topic in question.topic.all %}
        <li><a href="" class="topic">[{{ topic.title }}]</a></li>
        {% endfor %}
    </ul>
    <div class="question-content">
        {{ question.content|safe }}
    </div>
    <div class="question-operation">
        <span>{% if not question.followed %}{{ question.follower.all|length }}个{% endif %}</span><a class="J_operation" href="{% if question.followed %}{% url "main.views.unfollow_question" question.id %}{% else %}{% url "main.views.follow_question" question.id %}{% endif %}">{% if question.followed %}取消{% endif %}关注</a>
        <span>{% if not question.collected %}{{ question.collector.all|length }}个{% endif %}</span><a class="J_operation" href="{% if question.collected %}{% url "main.views.uncollect_question" question.id %}{% else %}{% url "main.views.collect_question" question.id %}{% endif %}">{% if question.collected %}取消{% endif %}收藏</a>
        <span class="addtion">
            <a class="J_comment_add comment-add">
                {% if question.comments.all %}{{ question.comments.all|length }}条{% else %}添加{% endif %}评论
                <span class="icons-upArrow none"></span>
            </a>
        </span>
        <div class="comments-wrapper none">
            <ul class="comments">
                {% for comment in question.comments.all %}
                <li class="comment">
                    <a href="{% url "main.views.show_people" comment.user.id %}" class="avatar small"><img src="/media/{{ comment.user.profile.portrait }}"></a>
                    <div class="comment-main">
                        <div class="content">
                            {% if comment.target %}
                            <a href="{% url "main.views.show_people" comment.target.id %}">@{{ comment.target.username }}</a>
                            {% endif %}
                            {{ comment.content }}
                            &nbsp-&nbsp<a href="{% url "main.views.show_people" comment.user.id %}" class="user">{{ comment.user.username }}</a>{% ifequal comment.user.id question.asker.id %}（作者）{% endifequal %}
                        </div>
                        <div class="addtion">
                            <span class="time">{{ comment.create_time|date:"Y年m月d日 H时i分" }}</span>
                            {% ifequal comment.user.id request.user.id %}
                            <a href="{% url "main.views.del_comment" comment.id %}" class="J_comment_del">删除</a>
                            {% else %}
                            <a class="J_comment_add">回复</a>
                            {% endifequal %}      
                        </div>
                        <form class="comment-form small J_comment_new none" method="POST" action="{% url "main.views.new_comment" %}">
                            {% csrf_token %}
                            <input name="father_id" type="hidden" value="{{ question.id }}">
                            <input name="father_type" type="hidden" value="0">
                            <input name="target_id" type="hidden" value="{{ comment.user.id }}" >
                            <input name="content" type="text" placeholder="@{{ comment.user.username }}">
                            <button type="submit" class="btn comment-submit">提交</button>
                        </form>
                    </div> 
                </li>
                {% empty %}
                <p class="no-comment">暂无评论</p>
                {% endfor %}
            </ul>
            <form class="comment-form J_comment_new" method="POST" action="{% url "main.views.new_comment" %}">
                {% csrf_token %}
                <input name="father_id" type="hidden" value="{{ question.id }}">
                <input name="father_type" type="hidden" value="0">
                <input name="target_id" type="hidden" value="" >
                <input name="content" type="text" placeholder="写下你的评论...">
                <button type="submit" class="btn comment-submit">提交</button>
            </form>
        </div>
    </div>
    <ul class="answers">
        {% for answer in question.answers %}
        <li class="answer">
            <div class="source clearfix">
                <a href="" class="avatar fl"><img src="/media/{{ answer.answerer.profile.portrait }}"></a>
                <div class="fl">
                    <p><a href="" class="user">{{ answer.answerer }}</a></p>
                    <p class="time">{{ answer.create_time|date:"Y年m月d日 H时i分" }}</p>
                </div>  
            </div>
            <div class="content">   
            {{ answer.content|safe }}                
            </div>
            <div class="operation">
                <span>{% if not answer.gooded %}{{ answer.goods|length }}个{% endif %}</span><a class="J_operation" href="{% if answer.gooded %}{% url "main.views.del_eva" answer.id answer.gooded_id %}{% else %}{% url "main.views.new_eva" answer.id 0 %}{% endif %}">{% if answer.gooded %}取消{% endif %}赞同</a>
                <span>{% if not answer.baded %}{{ answer.bads|length }}个{% endif %}</span><a class="J_operation" href="{% if answer.baded %}{% url "main.views.del_eva" answer.id answer.baded_id %}{% else %}{% url "main.views.new_eva" answer.id 1 %}{% endif %}">{% if answer.baded %}取消{% endif %}反对</a>
                <span>{% if not answer.sowhated %}{{ answer.sowhats|length }}个{% endif %}</span><a class="J_operation" href="{% if answer.sowhated %}{% url "main.views.del_eva" answer.id answer.sowhated_id %}{% else %}{% url "main.views.new_eva" answer.id 2 %}{% endif %}">{% if answer.sowhated %}取消{% endif %}不屑一顾</a>
                <span class="addtion">
                    <a class="J_comment_add comment-add">
                        {% if answer.comments.all %}{{ answer.comments.all|length }}条{% else %}添加{% endif %}评论
                        <span class="icons-upArrow none"></span>
                    </a>
                </span> 
                <div class="comments-wrapper none">
                    <ul class="comments">
                        {% for comment in answer.comments.all %}
                        <li class="comment">
                            <a href="{% url "main.views.show_people" comment.user.id %}" class="avatar small"><img src="/media/{{ comment.user.profile.portrait }}"></a>
                            <div class="comment-main">
                                <div class="content">
                                    {% if comment.target %}
                                    <a href="{% url "main.views.show_people" comment.target.id %}">@{{ comment.target.username }}</a>
                                    {% endif %}
                                    {{ comment.content }}
                                    &nbsp-&nbsp<a href="{% url "main.views.show_people" comment.user.id %}" class="user">{{ comment.user.username }}</a>{% ifequal comment.user.id question.asker.id %}（作者）{% endifequal %}
                                </div>
                                <div class="addtion">
                                    <span class="time">{{ comment.create_time|date:"Y年m月d日 H时i分" }}</span>
                                    {% ifequal comment.user.id request.user.id %}
                                    <a href="{% url "main.views.del_comment" comment.id %}" class="J_comment_del">删除</a>
                                    {% else %}
                                    <a class="J_comment_add">回复</a>
                                    {% endifequal %}      
                                </div>
                                <form class="comment-form small J_comment_new none" method="POST" action="{% url "main.views.new_comment" %}">
                                    {% csrf_token %}
                                    <input name="father_id" type="hidden" value="{{ answer.id }}">
                                    <input name="father_type" type="hidden" value="1">
                                    <input name="target_id" type="hidden" value="{{ comment.user.id }}" >
                                    <input name="content" type="text" placeholder="@{{ comment.user.username }}">
                                    <button type="submit" class="btn comment-submit">提交</button>
                                </form>
                            </div> 
                        </li>
                        {% empty %}
                        <p class="no-comment">暂无评论</p>
                        {% endfor %}
                    </ul>
                    <form class="comment-form J_comment_new" method="POST" action="{% url "main.views.new_comment" %}">
                        {% csrf_token %}
                        <input name="father_id" type="hidden" value="{{ answer.id }}">
                        <input name="father_type" type="hidden" value="1">
                        <input name="target_id" type="hidden" value="" >
                        <input name="content" type="text" placeholder="写下你的评论...">
                        <button type="submit" class="btn comment-submit">提交</button>
                    </form>
                </div>
                {% if answer.adopted %}  
                <p style="color:#999;margin-top:4px;">此答案已被采纳为最佳</p>
                {% endif %}
                {% if not question.adopted %}
                    {% ifequal request.user.id question.asker.id %}
                    <a href="{% url "main.views.adopt_answer" answer.id  %}">采纳为最佳</a>
                    {% endifequal %}
                {% endif %} 
            </div>
        </li>
        {% endfor %}
    </ul>
    <div id="your-answer">
        <h3>你的回答</h3>
        <form class="J_answerForm" method="POST" action="{% url 'main.views.answer_question' question.id %}">
            {% csrf_token %}
            {% load wysiwyg %}
            {% wysiwyg_setup %}
            <textarea name="content" id="answer-textarea"></textarea>
            {% wysiwyg_editor "answer-textarea" %}
            <button type="submit" class="btn comment-submit">加上去</button>
        </form>
    </div>
</section>

<!-- js template -->
{% verbatim %}

<script class="comment-template" type="text/x-handlebars-template">
    <li class="comment">
        <a href="/people/{{ comment.user }}/" class="avatar small"><img src="/media/avatar/default.jpg"></a>
        <div class="comment-main">
            <div class="content">
                {{#if comment.target }}
                <a href="/people/{{ comment.target }}/">@{{ target_username }}</a>
                {{/if}}
                {{ comment.content }}
                &nbsp-&nbsp<a href="/people/{{ comment.user }}/" class="user">{{ username }}</a>{{#if_eq comment.user compare=user_id }}（作者）{{/if_eq}}
            </div>
            <div class="addtion">
                <span class="time">{{ create_time }}</span>
                <a href="/comment/{{ comment_id }}/del/" class="J_comment_del">删除</a>
            </div>
        </div> 
    </li>
</script>

{% endverbatim %}
{% endblock %}

{% block main-right %}   
{% endblock %}

 
