{% extends "base.html" %}  

{% block title %} 豆藤 {% endblock %} 

{% block main-left %}  
<section>
    <h1>{{ question.title }}（{{ question.answer_set.all|length }}个回答）</h1>
    <ul class="topic-list clearfix">
        {% for topic in question.topic.all %}
        <li><a href="" class="topic">[{{ topic.title }}]</a></li>
        {% endfor %}
    </ul>
    <div class="question-content">
        {{ question.content }}
    </div>
    <div class="question-operation">
        <a href="">添加评论</a>
    </div>
    <ul class="answers">
        {% for answer in question.answer_set.all %}
        <li class="answer">
            <div class="source clearfix">
                <a href="" class="avatar fl"><img src="/media/avatar/default.jpg"></a>
                <div class="fl">
                    <p><a href="" class="user">{{ answer.answerer }}</a></p>
                    <p class="time">{{ answer.create_time|date:"Y年m月d日 H时i分" }}</p>
                </div>  
            </div>
            <div class="content">   
            {{ answer.content }}                
            </div>
            <div class="operation">
                <a href="">赞</a><a href="">赞</a><a href="">赞</a><a href="">添加评论</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block main-right %}   
{% endblock %}
 
