/* line 2, ../../sass/special/index.scss */
.questions .question {
  margin-top: 26px;
}
/* line 5, ../../sass/special/index.scss */
.questions .question .avatar {
  float: left;
}
/* line 9, ../../sass/special/index.scss */
.questions .question .question-main {
  margin-left: 58px;
  color: #555;
}
/* line 14, ../../sass/special/index.scss */
.questions .question .question-main .source a {
  color: #555;
  margin: 0 6px;
}
/* line 18, ../../sass/special/index.scss */
.questions .question .question-main .source a:hover {
  color: #fff;
}
/* line 24, ../../sass/special/index.scss */
.questions .question .question-main .content {
  margin-top: 10px;
  margin-left: 18px;
  padding: 16px 20px;
  background: #f9f9f9;
}
/* line 30, ../../sass/special/index.scss */
.questions .question .question-main .content h2 {
  font-size: 14px;
  margin-bottom: 2px;
}
/* line 35, ../../sass/special/index.scss */
.questions .question .question-main .content .showAll, .questions .question .question-main .content .packUp {
  cursor: pointer;
}
/* line 40, ../../sass/special/index.scss */
.questions .question .question-main .addtion {
  margin-top: 14px;
  margin-left: 38px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
/* line 46, ../../sass/special/index.scss */
.questions .question .question-main .addtion .time {
  color: #999;
  margin-right: 12px;
}
/* line 52, ../../sass/special/index.scss */
.questions .question .question-main .addtion .operation a {
  color: #7094b7;
  margin-right: 6px;
}
/* line 56, ../../sass/special/index.scss */
.questions .question .question-main .addtion .operation a:hover {
  background: #7094b7;
  color: #fff;
}
