/* line 1, ../../sass/special/show_question.scss */
h1 {
  margin-top: 14px;
}

/* line 5, ../../sass/special/show_question.scss */
.topic-list {
  margin-top: 2px;
}
/* line 8, ../../sass/special/show_question.scss */
.topic-list .topic {
  float: left;
  margin-right: 16px;
}

/* line 14, ../../sass/special/show_question.scss */
.question-content {
  color: #222;
  line-height: 1.8;
  padding: 20px 0;
}

/* line 20, ../../sass/special/show_question.scss */
.answers {
  margin-top: 20px;
}
/* line 23, ../../sass/special/show_question.scss */
.answers .answer {
  padding: 20px 0;
  border-top: 1px solid #ddd;
}
/* line 28, ../../sass/special/show_question.scss */
.answers .answer .source .avatar {
  margin-right: 12px;
}
/* line 32, ../../sass/special/show_question.scss */
.answers .answer .source .time {
  color: #999;
}
/* line 37, ../../sass/special/show_question.scss */
.answers .answer .content {
  color: #222;
  line-height: 1.8;
  padding: 20px 0;
}
/* line 44, ../../sass/special/show_question.scss */
.answers .answer .operation a {
  margin-right: 10px;
}
