@import "compass/css3";

.items{
    .item{
        margin-top: 26px;

        .avatar{
            float: left;
        }

        .question-main{
            margin-left: 58px;
            color: #555;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;

            .source{
                a{
                    color: #555;
                    margin: 0 6px;

                    &:hover{
                        color: #fff;
                    }
                }
            }

            .content{
                margin-top: 10px;
                margin-left: 18px;
                padding: 16px 20px;
                background: #f9f9f9;

                h2{
                    font-size: 14px;
                    margin-bottom: 2px;
                }

                .showAll,.packUp{
                    cursor: pointer;
                }
            }

            .addtion{
                margin-top: 14px;
                margin-left: 38px;
                padding-bottom: 8px;

                .time{
                    color: #999;
                    margin-right: 12px;
                }

                .operation{
                    color: #37a;

                    a{
                        margin-right: 6px;

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }

            .comments-wrapper{
                margin-left: 38px;
                margin-top: 6px;
                border: 1px solid #ddd;
                @include border-radius(4px);
                padding: 12px;

                .comments{
                    border-bottom: 1px solid #ddd;

                    .comment{
                        margin-bottom: 16px;

                        .comment-main{
                            margin-left: 36px;
                            line-height: 12px;

                            .content{
                                background: #fff;
                                margin: 0;
                                padding: 0;
                            }

                            .addtion{
                                margin: 0;
                                padding: 0;
                                margin-top: 8px;
                            }

                            .comment-form.small{
                                input{
                                    width: 394px;
                                    height: 24px;
                                }
                            }
                        }
                    }

                    .no-comment{
                        margin-left: 222px;
                        margin-bottom: 12px;
                        color: #aaa;
                    }
                }

                .comment-form{
                    margin-top: 12px;

                    input{
                        width: 430px;
                        border: 1px solid #c9c9c9;
                        padding-left: 6px;
                        @include border-radius(3px);

                        &:focus{
                            @include box-shadow(0 0 7px #ddd);
                        }
                    }

                    button{
                        margin-left: 20px;
                    }
                }
            }
        }

        &:last-child{
            .addtion{
                border-bottom: none;
            }
        }
    }
}