@import "compass/css3";

.feeds{
    .feed{
        margin-top: 26px;

        .avatar{
            float: left;
        }

        .question-main{
            margin-left: 58px;
            color: #555;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;

            .source{
                a{
                    color: #555;
                    margin: 0 6px;

                    &:hover{
                        color: #fff;
                    }
                }
            }

            .content{
                margin-top: 10px;
                margin-left: 18px;
                padding: 16px 20px;
                background: #f9f9f9;

                h2{
                    font-size: 14px;
                    margin-bottom: 2px;
                }

                .showAll,.packUp{
                    cursor: pointer;
                }
            }

            .addtion{
                margin-top: 14px;
                margin-left: 38px;

                .time{
                    color: #999;
                    margin-right: 12px;
                }

                .operation{
                    color: #37a;

                    a{
                        margin-right: 6px;

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }

            .comments-wrapper{
                margin-left: 24px;
            }
        }

        &:last-child{
            .addtion{
                border-bottom: none;
            }
        }
    }
}