h1{
    margin-top: 14px;  
}

.topic-list{
    margin-top: 2px;

    .topic{
        float: left;
        margin-right: 16px;
    }
}

.question-content{
    color: #222;
    line-height: 1.8;
    padding: 20px 0;
}

.answers{
    margin-top: 20px;

    .answer{
        padding: 20px 0;
        border-top: 1px solid #ddd;

        .source{
            .avatar{
                margin-right: 12px;
            }

            .time{
                color: #999;
            }
        }

        .content{
            color: #222;
            line-height: 1.8;
            padding: 20px 0;
        }

        .operation{
            a{
                margin-right: 10px; 
            }
        }
    }
}