<!DOCTYPE html>
<html>
<head>  

    <meta charset="utf-8">  

    <title>{% block title %}{{ title|default:"" }}{% endblock %}</title>  

    <link rel="stylesheet" href="/static/css/common/common.css">  
    {% if title %}
    <link rel="stylesheet" href="/static/css/special/{{ title }}.css"> 
    {% endif %}

</head>  
<body>  
    <div class="back-to-top">
        <a href="#">&#8593;回顶部</a>
    </div>   
    <header id="header">
        <div id="inner-header">
            <a href="{% url "main.views.index" %}" id="logo"></a>
            <nav id="nav">
                <a href="{% url "main.views.index" %}">首页</a>
                <a href="{% url "main.views.new_question" %}">提问</a>
                <a href="{% if request.user.is_authenticated %}{% url "main.views.show_people" request.user.id %}{% else %}{% url "main.views.login_view" %}{% endif %}">我的豆藤</a>
            </nav>
            <div id="info">
            {% if request.user.is_authenticated %}              
                <a href="">提醒</a>
                <a href="{% url "main.views.logout_view" %}">退出</a>
            {% else %}           
                <a href="{% url "main.views.login_view" %}">登录</a>
                <a href="{% url "main.views.new_people" %}">注册</a>            
            {% endif %}
            </div>             
        </div>
        <div id="search-wrapper">
            <div id="douteng"></div>
            <form method="GET" action="{% url "main.views.search_question" %}" id="search">
                <input type="text" name="q" placeholder="想知道什么" />
                <input type="submit" value="" />
            </form>
        </div>
    </header>

    <div id="main">
        <div id="main-left">{% block main-left %}{% endblock %}</div>
        <div id="main-right">{% block main-right %}{% endblock %} </div>
        {% block main %}{% endblock %} 
    </div>
      
    <footer id="footer">
        <div id="footer-left">
            © 2011－2013 douteng.com, all rights reserved 
        </div>
        <div id="footer-right">
            <a href="http://www.jiangzifan.com" target="_blank">关于作者</a>
        </div>
    </footer>

    <script type="text/javascript" src="/static/js/lib/require.js"></script>
    <script type="text/javascript" src="/static/js/common/main.js"></script>
    <script type="text/javascript" src="/static/js/common/common.js"></script>
    {% if title %}
    <script src="/static/js/special/{{ title }}.js"></script>
    {% endif %}

</body>  
    
</html>


    