
// section

section{
    margin-bottom: 40px;

    h1{
        font-size: 16px;
        color: #666;
        font-weight: 700;
        font-family: "Microsoft Yahei";
    }
}

// comments
.comment-add{
    position: relative;

    .icons-upArrow{
        position: absolute;
        top: 23px;
        left: 18px;
    }
}


.comments-wrapper{
    border: 1px solid #ddd;
    @include border-radius(4px);
    padding: 12px;
    margin-top: 12px;

    .comments{
        border-bottom: 1px solid #ddd;
        position: relative;

        .comment{
            margin-bottom: 16px;

            .avatar{
                float: left;
            }

            .comment-main{
                margin-left: 36px;
                line-height: 12px;

                .content{
                    background: #fff;
                    margin: 0;
                    padding: 0;
                }

                .addtion{
                    margin: 0;
                    padding: 0;
                    margin-top: 8px;

                    .time{
                        color: #999;
                        margin-right: 12px;
                    }
                }

                .comment-form.small{
                    input{
                        width: 394px;
                        height: 24px;
                    }
                }
            }
        }

        .no-comment{
            position: relative;
            left: 46%;
            margin-bottom: 12px;
            color: #aaa;
        }
    }

    .comment-form{
        margin-top: 12px;

        input{
            width: 84%;
            border: 1px solid #c9c9c9;
            padding-left: 6px;
            @include border-radius(3px);

            &:focus{
                @include box-shadow(0 0 7px #ddd);
            }
        }

        button{
            margin-left: 20px;
        }
    }
}

// img

.avatar{
    display: inline-block;
    width: 48px;
    height: 48px;

    &.small{
        width: 26px;
        height: 26px;
    }

    &.big{
        width: 72px;
        height: 72px;
    }

    img{
        width: 100%;
        height: 100%;
    }
}