
// Scaffolding for base.html

#header{
    width: 100%;
    height: 60px;
    background: #edf4ed;
    position: fixed;
    z-index: 20;
    top: 0;

    #inner-header{
        @extend .bc;
        width: 960px;
        position: relative;

        #logo{
            @extend .fl;
            display: block;
            width: 144px;
            height: 33px;
            margin-top: 12px;
            background: url(/static/images/logo.png) no-repeat center;
        }

        #nav{
            @extend .fl;
            margin-left: 40px;
            margin-top: 22px;

            a{
                color: #072;
                font-size: 14px;
                margin: 0 16px;

                &:hover{
                    background: #072;
                    color: #fff;
                }
            }
        }

        #info{
            @extend .fr;
            margin-top: 24px;

            a{
                margin-left: 8px;
            }
        }
    }

    #search-wrapper{
        @extend .bc;
        position: relative;
        top: 70px;
        z-index: 999;
        width: 400px;
        height: 48px;
        background: rgba(208, 208, 208, 0.4);   
        @include border-radius(22px);
        @include box-shadow(0,1px,4px,rgba(0, 0, 0, 0.4));

        #douteng{
            position: absolute;
            top: -95px;
            left: 188px;
            height: 95px;
            width: 22px;
            z-index: 1000;
            background: url(/static/images/douteng.png) repeat-y center; 
        }

        #search{
            background: #fff;
            width: 384px;
            height: 38px;
            line-height: 26px;
            position: relative;
            left: 8px;
            top: 5px;
            padding: 4px;
            border: 3px solid rgba(162, 163, 162, 0.47);
            @include border-radius(16px);

            input[type=text]{
                outline: none;
                border: none;
                width: 300px;
                height: 28px;
                font-size: 18px;
                margin-left: 20px;
                position: absolute;
                color: #787a78;
                display: inline-block;
                top: 2px;
                left: -4px;
            }

            input[type=submit]{
                border: none;
                position: absolute;
                cursor: pointer;
                top: 6px;
                right: 10px;
                @extend .icons-search;
            }
        }            
    }
}

#main{
    @extend .bc;
    @extend .clearfix;
    width: 960px;
    position: relative;
    margin-top: 120px;
    margin-bottom: 50px;
    min-height: 400px;

    #main-left{
        @extend .fl;
        width: 640px;
    }

    #main-right{
        @extend .fr;
        width: 260px;
        margin-top: 50px;
    }
}

#footer{
    @extend .bc;
    width: 960px;
    position: relative;
    bottom: 20px;
    height: 36px;
    line-height: 36px;

    #footer-left{
        @extend .fl;
    }

    #footer-right{
        @extend .fr;
    }
}

.back-to-top{
    left: 1200px;
    position: fixed;
    bottom: -20px;
    display: block;
    z-index: 9999;
}