
// Scaffolding
// -------------------------

$body-bg:               #fff;
$text-color:            #111;

// Links
// -------------------------

$link-color:            #37a;
$link-hover-color:      #fff;
$link-hover-background: #37a;

// Typography
// -------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          12px;

$line-height-base:        1.62; 
